@using BlazorApp.Components.Base
@using BlazorApp.Components.Hero
@using BlazorApp.Models
@using System.Text.Json;
@inject ProtectedSessionStorage ProtectedSessionStorage
<div class="mx-auto max-w-2xl px-10 py-32 sm:py-20 lg:py-28">
    <div class="text-center">
        <Heading>
            <Header>
                <h1 class="text-4xl font-bold tracking-tight text-primary-950 sm:text-6xl">Discover Your Solar Score
                </h1>
            </Header>
            <Subscript>
                <p class="mt-6 text-lg leading-8 text-gray-600 mb-5">Uncover Your Solar Potential. Calculate Your Solar
                    Score Today.</p>
            </Subscript>
        </Heading>
        <div>
            <AutoComplete />
        </div>
        <div class="mt-10 flex flex-col sm:flex-row items-center justify-center gap-6">
            <Button style="pill" css="h-14">
                <content>
                    <p @onclick="saveBasicCalculation" class="text-sm font-semibold hover:text-white">Get Solar Score</p>
                </content>
            </Button>
            <a href="/advanced" class="text-sm font-normal leading-6 text-orange-accent-500">Advanced Calculations <span
                    aria-hidden="true">→</span></a>
        </div>
    </div>
</div>

@code {
    private string? API_PORT = Environment.GetEnvironmentVariable("API_PORT");

    private List<ProductModel> products = new List<ProductModel>();

    public async void saveBasicCalculation()
    {
        await GetProducts();
        int systemId = 1;
        int dayLightHours = 4;
        string location = "Cape Town";
        int batteryLife = 10;
        var client = new HttpClient();
        var request = new HttpRequestMessage(HttpMethod.Post, API_PORT + "/BasicCalculation/create");
        var content = new StringContent(
            "{\r\n    \"systemId\": "
                + systemId
                + ",\r\n  \"daylightHours\": "
                + dayLightHours
                + ",\r\n  \"location\": \""
                + location
                + "\",\r\n  \"batteryLife\": "
                + batteryLife
                + "\r\n}",
            null,
            "application/json"
        );

        request.Content = content;
        var response = await client.SendAsync(request);
        if(response.IsSuccessStatusCode)
        {
            Console.WriteLine("Success");
        }
        else
        {
            Console.WriteLine("Failure");
        }
    }
    private async Task GetProducts()
    {
        var client = new HttpClient();
        var request = new HttpRequestMessage(HttpMethod.Get, API_PORT + "/System/all");
        var response = await client.SendAsync(request);
        if (response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            var data = await response.Content.ReadAsStringAsync();
            products = JsonSerializer.Deserialize<List<ProductModel>>(data, new JsonSerializerOptions { PropertyNameCaseInsensitive = true });
        }
        else
        {
            Console.WriteLine("Failed to get products");
        }
    }

}