@using BlazorApp.Data;
@inject TutorialService tutorialService
@using BlazorTypewriter;


    <h1 class="text-white text-4xl text-center font-bold tracking-wide mt-10">Select a page</h1>
    <div class="w-full mt-10 flex gap-6 justify-center">
        <div @onclick="ShowHomeTutorial">
            <Button style="outline-light">
                <content>
                    <p>Home</p>
                </content>
            </Button>
        </div>
        <Button style="outline-light">
            <content>
                <p>Solar Score</p>
            </content>
        </Button>
        <Button style="outline-light">
            <content>
                <p>Advanced Calculation</p>
            </content>
        </Button>
        <Button style="outline-light">
            <content>
                <p>Dashboard</p>
            </content>
        </Button>
    </div>

    <div @onclick="HideTutorial" class="fixed w-14 h-14 cursor-pointer top-10 right-10 text-white font-bold text-4xl">
        X
    </div>
    <div class="absolute top-80 right-32">
        <div class="relative w-full h-full">
            <svg width="642" height="218" viewBox="0 0 642 218" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 32C0 14.3269 14.3269 0 32 0H598.232C615.905 0 630.232 14.3269 630.232 32V173.098C630.232 178.034 632.266 182.753 635.856 186.141V186.141C651.935 201.323 631.664 226.477 613.412 213.991L610.887 212.264C607.815 210.162 604.172 209.054 600.449 209.09L32.3065 214.532C14.5144 214.703 0 200.327 0 182.534V32Z" fill="white"/>
            </svg>
            <p class="absolute top-1/2 -translate-y-6 ml-5 w-max max-w-xl left-0"><Typewriter Builder="@typewriter" /></p>
        </div>

    </div>

    <Image ImageName="Robert_Standing2.png" css="absolute  -bottom-40 -rotate-12  -right-48  h-[300px] md:h-[400px] lg:h-[600px] xl:h-[700px] " alt="Rob"/>

@code {
    TypewriterBuilder typewriter = new TypewriterBuilder(defaultCharacterPause: 6)
        .TypeString("Please choose a page for which you'd like assistance, and I'll provide guidance on all its various elements.", 20);
    public void HideTutorial()
    {
        tutorialService.HideTutorial();
    }

    public void ShowHomeTutorial()
    {
        tutorialService.ToggleTutorial("Home");
    }
}
