@using BlazorApp.Data;
@inject TutorialService tutorialService

<div class="opacity-60 bg-black w-full h-full flex fixed top-0 left-0">
</div>
    <p @onclick="HideTutorial" class="fixed top-20 left-20 text-white text-4xl">Hello World!</p>

@code {
    public void HideTutorial()
    {
        tutorialService.HideTutorial();
    }
}
