@inject BlazorApp.Data.TutorialService tutorialService

<div class="opacity-80 bg-black w-full h-full flex fixed top-0 left-0 "></div>
<div class="absolute top-0 left-0 w-full h-full">
    @ChildContent
</div>
<div @onclick="HideTutorial" class="fixed w-14 h-14 cursor-pointer top-10 right-10 text-white font-bold text-3xl">
    <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path opacity="0.5" d="M55 30C55 43.8071 43.8071 55 30 55C16.1929 55 5 43.8071 5 30C5 16.1929 16.1929 5 30 5C43.8071 5 55 16.1929 55 30Z" fill="white"/>
        <path d="M22.4242 22.4242C23.1564 21.6919 24.3436 21.6919 25.0758 22.4242L30 27.3484L34.9242 22.4242C35.6564 21.692 36.8436 21.692 37.5758 22.4242C38.3081 23.1565 38.3081 24.3436 37.5758 25.0759L32.6517 30L37.5758 34.9241C38.308 35.6564 38.308 36.8435 37.5758 37.5758C36.8435 38.308 35.6564 38.308 34.9241 37.5758L30 32.6517L25.0759 37.5758C24.3436 38.3081 23.1565 38.3081 22.4242 37.5758C21.692 36.8436 21.692 35.6564 22.4242 34.9242L27.3484 30L22.4242 25.0758C21.6919 24.3436 21.6919 23.1564 22.4242 22.4242Z" fill="#1C75BC"/>
    </svg>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    public void HideTutorial()
    {
        tutorialService.HideTutorial();
    }
}