@inject BlazorApp.Data.ToastService toastService

@{
    switch(Type)
    {
        case "success": {
            show += " bg-green-100 border-green-500 text-green-900";
            break;
        }
        case "error":
            show += " bg-red-accent-100 border-red-500 text-red-900";
            break;
        case "warning":
            show += " bg-yellow-accent-100 border-orange-500 text-orange-900";
            break;
        case "info":
            show += " bg-primary-100 border-blue-500 text-blue-900";
            break;
    }
}
<div class="e w-full group p-2 h-fit min-w-fit max-w-md @show rounded-lg shadow-md">
    <div class="flex group z-30 justify-between relative">
        <div class="p-1 flex flex-col gap-3">
            <div class="flex flex-row gap-2">
                @switch (Type)
                {
                case "success":
                <svg width="24" height="24" viewBox="0 0 24 24" 
                    xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" class="fill-green-200" 
                        d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                        fill="#1C274C" />
                    <path class="fill-green-500" 
                        d="M16.0303 8.96967C16.3232 9.26256 16.3232 9.73744 16.0303 10.0303L11.0303 15.0303C10.7374 15.3232 10.2626 15.3232 9.96967 15.0303L7.96967 13.0303C7.67678 12.7374 7.67678 12.2626 7.96967 11.9697C8.26256 11.6768 8.73744 11.6768 9.03033 11.9697L10.5 13.4393L12.7348 11.2045L14.9697 8.96967C15.2626 8.67678 15.7374 8.67678 16.0303 8.96967Z"
                        fill="#1C274C"/>
                </svg>
                break;
                case "error":
                <svg width="24" height="24" viewBox="0 0 24 24" 
                    xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" class="fill-red-accent-200"
                        d="M22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12Z"
                        fill="#1C274C" />
                    <path class="fill-red-accent-500"
                        d="M12 6.25C12.4142 6.25 12.75 6.58579 12.75 7V13C12.75 13.4142 12.4142 13.75 12 13.75C11.5858 13.75 11.25 13.4142 11.25 13V7C11.25 6.58579 11.5858 6.25 12 6.25Z"
                        fill="#1C274C" />
                    <path class="fill-red-accent-500"
                        d="M12 17C12.5523 17 13 16.5523 13 16C13 15.4477 12.5523 15 12 15C11.4477 15 11 15.4477 11 16C11 16.5523 11.4477 17 12 17Z"
                        fill="#1C274C" />
                </svg>
                break;
                case "warning":
                <svg width="24" height="24" viewBox="0 0 24 24" 
                    xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" class="fill-yellow-accent-200"
                        d="M12 3C9.68925 3 8.23007 5.58716 5.31171 10.7615L4.94805 11.4063C2.52291 15.7061 1.31034 17.856 2.40626 19.428C3.50217 21 6.21356 21 11.6363 21H12.3637C17.7864 21 20.4978 21 21.5937 19.428C22.6897 17.856 21.4771 15.7061 19.0519 11.4063L18.6883 10.7615C15.7699 5.58716 14.3107 3 12 3Z"
                        fill="#1C274C" />
                    <path class="fill-yellow-accent-500"
                        d="M12 7.25C12.4142 7.25 12.75 7.58579 12.75 8V13C12.75 13.4142 12.4142 13.75 12 13.75C11.5858 13.75 11.25 13.4142 11.25 13V8C11.25 7.58579 11.5858 7.25 12 7.25Z"
                        fill="#1C274C" />
                    <path class="fill-yellow-accent-500"
                        d="M12 17C12.5523 17 13 16.5523 13 16C13 15.4477 12.5523 15 12 15C11.4477 15 11 15.4477 11 16C11 16.5523 11.4477 17 12 17Z"
                        fill="#1C274C" />
                </svg>
                break;
                case "info":
                <svg width="24" height="24" viewBox="0 0 24 24" 
                    xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.5" class=" fill-primary-200"
                        d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                        fill="#1C274C" />
                    <path class=" fill-primary-500"
                        d="M12 17.75C12.4142 17.75 12.75 17.4142 12.75 17V11C12.75 10.5858 12.4142 10.25 12 10.25C11.5858 10.25 11.25 10.5858 11.25 11V17C11.25 17.4142 11.5858 17.75 12 17.75Z"
                        fill="#1C274C" />
                    <path class=" fill-primary-500"
                        d="M12 7C12.5523 7 13 7.44771 13 8C13 8.55229 12.5523 9 12 9C11.4477 9 11 8.55229 11 8C11 7.44771 11.4477 7 12 7Z"
                        fill="#1C274C" />
                </svg>
                break;
                default: break;
                }
                <p class="font-bold">@Title</p>
            </div>
            @ChildContent
        </div>
        <button type="button" class="close group-hover:opacity-100 hover:opacity-100  absolute top-0 right-0" data-dismiss="alert"
            aria-label="Close" @onclick="Dismiss">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.5"
                    d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12Z"
                    fill="#1C274C" />
                <path
                    d="M8.96967 8.96967C9.26256 8.67678 9.73744 8.67678 10.0303 8.96967L12 10.9394L13.9697 8.96969C14.2626 8.6768 14.7374 8.6768 15.0303 8.96969C15.3232 9.26258 15.3232 9.73746 15.0303 10.0304L13.0607 12L15.0303 13.9696C15.3232 14.2625 15.3232 14.7374 15.0303 15.0303C14.7374 15.3232 14.2625 15.3232 13.9696 15.0303L12 13.0607L10.0304 15.0303C9.73746 15.3232 9.26258 15.3232 8.96969 15.0303C8.6768 14.7374 8.6768 14.2626 8.96969 13.9697L10.9394 12L8.96967 10.0303C8.67678 9.73744 8.67678 9.26256 8.96967 8.96967Z"
                    fill="#fff" />
            </svg>
        </button>
    </div>
</div>

@code {
    public string? show { get; set; } = "";
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string Type { get; set; } = "success";


    public void Dismiss()
    {
        toastService.HideToast();
    }
}