<div class="relative flex justify-evenly items-center w-full mx-auto  my-7">
    <div role="status" class="max-w-sm w-full animate-pulse justify-center">
        <div class="h-14 bg-gray-200 rounded-full w-60 m-4"></div>
        <span class="sr-only">Loading...</span>
    </div>
    <div class="w-full">
        <div role="status" class="animate-pulse justify-center w-full max-w-2xl mx-auto -mt-6">
            <div class="h-9 bg-gray-200 rounded-lg mt-4"></div>
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div role="status" class="max-w-sm w-full animate-pulse justify-center">
        <div class="h-14 bg-gray-200 rounded-full w-60 m-4"></div>
        <span class="sr-only">Loading...</span>
    </div>
</div>