<div class="flex-row lg:flex lg:justify-evenly items-center space-y-10 w-fit lg:w-full p-10 mx-auto">
  <h1 class="text-blue-900 font-bold text-4xl">Build your home</h1>
  <div class="w-60">
    <h2 class="mb-2 text-sm font-medium text-gray-900">Select an option</h2>
    <select
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 w-full p-2.5"
    >
      <option value="US">United States</option>
      <option value="CA">Canada</option>
      <option value="FR">France</option>
      <option value="DE">Germany</option>
    </select>
  </div>
  <div class="lg:text-center space-y-5">
    <p>System Size</p>
    <div class="flex space-x-9">
      <div
        class="bg-gray-100 flex shadow-md rounded-2xl justify-center items-center w-16 h-16"
      >
        <p class="text-primary-900 font-semibold">5kw</p>
      </div>
      <div
        class="bg-gray-100 flex shadow-md rounded-2xl justify-center items-center w-16 h-16"
      >
        <p class="text-primary-900 font-semibold">8kw</p>
      </div>
      <div
        class="bg-gray-100 flex shadow-md rounded-2xl justify-center items-center w-16 h-16"
      >
        <p class="text-primary-900 font-semibold">12kw</p>
      </div>
    </div>
  </div>
</div>


