 @using BlazorApp.Components.Base
 <div class="mb-9">
    <div class="w-fit mx-auto text-center my-20">
      <Heading>
        <Header>
          <h1>Frequently Asked Questions</h1>
        </Header>
        <Subscript>
          <h1 class="mt-4">Discover answers to common solar energy questions.</h1>
        </Subscript>
      </Heading>
    </div>
    @*
    <Accordion Question="What is a Solar Score?"
      Answer="A solar score measures your property's solar potential based on factors like sunlight availability, shading, and local weather patterns. It estimates the effectiveness of solar panels in generating electricity for your location." />
    *@
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 max-w-7xl p-5 mx-auto">
      <div class="flex flex-col gap-10 sm:gap-4">
        <Accordion Question="What is a Solar Score?"
          Answer="A solar score measures your property's solar potential based on factors like sunlight availability, shading, and local weather patterns. It estimates the effectiveness of solar panels in generating electricity for your location." />
        <Accordion Question="What appliances can I run on solar?"
          Answer="A solar score measures your property's solar potential based on factors like sunlight availability, shading, and local weather patterns. It estimates the effectiveness of solar panels in generating electricity for your location." />
        <Accordion Question="What are the benefits of solar panels?"
          Answer="A solar score measures your property's solar potential based on factors like sunlight availability, shading, and local weather patterns. It estimates the effectiveness of solar panels in generating electricity for your location." />
      </div>
      <div class="flex flex-col gap-10 sm:gap-4">
        <Accordion Question="Will solar panels work during cloudy or rainy days?"
          Answer="A solar score measures your property's solar potential based on factors like sunlight availability, shading, and local weather patterns. It estimates the effectiveness of solar panels in generating electricity for your location." />
        <Accordion Question="How much money can I save by using solar energy?"
          Answer="A solar score measures your property's solar potential based on factors like sunlight availability, shading, and local weather patterns. It estimates the effectiveness of solar panels in generating electricity for your location." />
        <Accordion Question="What happens with my data?"
          Answer="A solar score measures your property's solar potential based on factors like sunlight availability, shading, and local weather patterns. It estimates the effectiveness of solar panels in generating electricity for your location." />
      </div>
    </div>
  </div>