@using BlazorApp.Components.Base
@using BlazorApp.Components.Hero


<div class="bg-white h-fit w-full">
  <div class="relative isolate pt-14">
    <div class="grid gap-4 grid-cols-1 lg:grid-cols-2">
      <EnterLocation />
      <div class="mx-auto max-w-xl px-5 lg:px-0 py-32 sm:py-20 lg:py-28">

        <Image ImageName="Hero Image.jpg" css="absolute z-10 rounded-3xl" />
        @* <div class="w-full bg-red-400">
          <video autoplay="autoplay"  class="w-5/12 absolute z-10 rounded-3xl">
            <source src="/assets/Landing Page2.mp4" type="video/mp4" />
          </video>
        </div> *@
        <Image ImageName="Image Container.jpg" css="scale-150 translate-x-60 blur-lg" />
      </div>
    </div>
  </div>
</div>