@using BlazorApp.Components.Base

<div class="@css">
    <div class="w-fit mx-auto text-center mb-14">
        <Heading>
          <Header>
            <h1>How it works</h1>
          </Header>
          <Subscript>
            <h1 class="mt-4">Access personalized solar assessments, benefits, and <br /> resources for informed decision-making</h1>
          </Subscript>
        </Heading>
    </div>
    <div class="mt-8 space-y-10 lg:space-y-0 lg:flex justify-between max-w-[95%] mx-auto">
      <div class="flex-col">
        <div class="bg-gray-300 rounded-[30px] p-8 w-[106px] h-[106px] mx-auto">


        </div>

        <div class="text-center max-w-sm mx-auto mt-4">
          <h1 class="text-[#000F52] font-semibold text-2xl leading-[150%] tracking-tight	">Choose Location</h1>
          <p class="text-[#1A202C] font-normal">Choose your location to determine solar potential. Our platform
            provides accurate results tailored to your specific area.</p>
        </div>
      </div>

      <div class="flex-col">
        <div class="bg-gray-300 rounded-[30px] p-8 w-[106px] h-[106px] m-auto">


        </div>

        <div class="text-center max-w-sm mx-auto mt-4">
          <h1 class="text-[#000F52] font-semibold text-2xl leading-[150%] tracking-tight	">Get a solar score</h1>
          <p class="text-[#1A202C] font-normal">Obtain your solar score effortlessly. Our platform calculates your solar
            score based on multiple key factors.</p>
        </div>
      </div>
      <div class="flex-col">
        <div class="bg-gray-300 rounded-[30px] p-8 w-[106px] h-[106px] mx-auto">

        </div>

        <div class="text-center max-w-sm mx-auto mt-4">
          <h1 class="text-[#000F52] font-semibold text-2xl leading-[150%] tracking-tight	">Get a report</h1>
          <p class="text-[#1A202C] font-normal">Gain comprehensive insights with a detailed solar report for informed
            decision-making.</p>
        </div>
      </div>
    </div>

  </div>

  @code {
        [Parameter]
        public string? css { get; set; }
  }