<div class="tips flex justify-center bg-gray-100 max-md:hidden">
    <p class=""> We are fetching </p>
    <div class="words">
        @foreach (var word in words)
        {
            <span class="word">@word</span>
        }
    </div>
</div>

@code {
    private List<string> words = new List<string> {
        "images of the house",
        "usable daylight hours",
        "solar irradiance",
        "rooftop analysis",
        "Energy Production",
        "Height and Heat maps",
        "the sun's position"        
    };
}
