<div class="fixed animate-pulse fade-in-enter-active cursor-wait transition-all duration-400 top-0 bg-white left-0 z-50  w-screen h-screen">
        <div class="flex justify-center items-center flex-col">
            <img src="assets/Loader.gif" class="scale-[.25] m-auto" />
            <LoadingScreenTips></LoadingScreenTips>
        </div>
</div>