<div class="fixed animate-pulse fade-in-enter-active cursor-wait transition-all duration-400 top-0 bg-white bottom-0 z-50  w-screen h-screen flex">
    <div class="h-screen flex items-center">
        <img src="assets/Loader.gif" class="m-auto scale-[.25]" />
        <LoadingScreenTips></LoadingScreenTips>
    </div>
</div>