<div class="tips">
    <p><Image ImageName="Robert_Sitting_On_Panel.png" css="-z-10 ml-20 mt-20 robert-slide-up h-20 md:h-20" alt="Rob"/></p>
    <div class="words">
        @foreach (var word in words)
        {
            <span class="word">@word</span>
        }
    </div>
</div>

@code{
    private int currentWordIndex = 0;
    private List<string> words = new List<string> {
        "We are fetching images of the entered location",
        "We are fetching data for the entered location",
        "We are fetching daylight times for the entered location",
        
    };
}