@using BlazorApp.Components.Base

<div class="mt-20 text-center">
    <Heading>
        <Header>
            <h1 class="text-3xl">Your results in numbers</h1>
        </Header>
        <Subscript>
            <p class="text-primary-700">The following numbers are based on your location.</p>
        </Subscript>
    </Heading>
</div>
<div class="flex justify-center gap-10 mt-16">
    <div class="flex-col">
        <Image ImageName="Solarscore.png" alt="Solar Score" />
    </div>
    <div class="grid grid-cols-2 gap-10">
        <Card css="border-2 border-primary-300 w-80">
            <div class="bg-gray-100 shadow-md rounded-3xl  p-8 w-24 h-24">
                <Image ImageName="Sale.svg" alt="Sale" css="scale-150"/>
            </div>
        </Card>
        <Card css="border-2 border-primary-300 w-80">
            <div class="bg-gray-100 shadow-md rounded-3xl  p-8 w-24 h-24">
                <Image ImageName="History.svg" alt="Sale" css="scale-150"/>
            </div>
        </Card>
        <Card css="border-2 border-primary-300 w-80">
            <div class="bg-gray-100 shadow-md rounded-3xl  p-8 w-24 h-24">
                <Image ImageName="Accumulator.svg" alt="Sale" css="scale-150"/>
            </div>
        </Card>
        <Card css="border-2 flex gap-2 border-primary-300 w-80">
            <div class="bg-gray-100 shadow-md rounded-xl  p-8 w-10 h-10">

            </div>
            <div class="bg-gray-100 shadow-md rounded-xl  p-8 w-10 h-10">

            </div>
            <div class="bg-gray-100 shadow-md rounded-xl  p-8 w-10 h-10">

            </div>
        </Card>
    </div>
</div>
