@using BlazorApp.Components.Base

<div class="px-2">
    <div class="mt-20 text-center">
        <Heading>
            <Header>
                <h1 class="text-3xl">What does this mean?</h1>
            </Header>
            <Subscript>
                <p class="text-primary-700 mt-2">Your solar score measures your area's solar panel suitability based on the yearly sunlight received at your address.</p>
            </Subscript>
        </Heading>
    </div>
    <div class="flex md:w-[80%] max-w-7xl mx-auto p-6 mt-5">
    <div class="w-full lg:w-8/12 space-y-4">
<div @onclick="args => ToggleGraphic(0)">
    <Accordion css="rounded-[100px]" scoreInfo="true" Question="Excellent"
        Answer="80 - 100% Your area is excellent for solar installation. Solar installation is highly recommended based on the amount of sun in your area." />
    </div>
    <div @onclick="args => ToggleGraphic(1)">
        <Accordion css="rounded-[100px]" scoreInfo="true" Question="Good"
            Answer="60 - 79% Your area is good for solar installation. Solar installation would work well for your area." />
    </div>
    <div @onclick="args => ToggleGraphic(2)">
    <Accordion css="rounded-[100px]" scoreInfo="true" Question="Average"
        Answer="40 - 59% Your are  has the capacity to accommodate solar energy, though it may not be good. While solar could definitely be considered, other options would possibly work better, such as batteries charging with Eskom power." />
    </div>
    <div @onclick="args => ToggleGraphic(3)">
    <Accordion css="rounded-[100px]" scoreInfo="true" Question="Low"
        Answer="20 - 39% Your area is bad for solar. It is worthwhile to explore alternative solutions, instead of relying solely on solar. Batteries that charge on Eskom power will prove to be a highly effective solution." />
    </div>
    <Accordion css="rounded-[100px]" scoreInfo="true" Question="Unfeasible"
        Answer="0 - 19% Solar for your are would be unfeasible. It is worthwhile to explore alternative solutions, such as batteries that charge on Eskom power." />

</div>
    <div class="lg:w-4/12 justify-center hidden lg:block">
        <Image ImageName="@graphicName" css="scale-150 translate-x-36 translate-y-32" />
    </div>
</div>
</div>

@code{
    public string graphicName = "Graphic.svg";

    @* Toggle graphic *@
    public void ToggleGraphic(int type)
    {
        switch (type)
        {
            case 0: graphicName = "Graphic.svg";
                break;
            case 1: graphicName = "Graphic-Good.svg";
                break;
            case 2: graphicName = "Graphic-Average.svg";
                break;
            case 3: graphicName = "Graphic-Low.svg";
                break;
            default:
                break;
        }
    }
}