@using BlazorApp.Components.Base
@inject ProtectedLocalStorage ProtectedLocalStore
<div class="flex w-full justify-center md:flex-row flex-col gap-3 @css">
    <div class="w-full md:w-2/3">
        <Card>
            <Heading>
                <Header>
                    <h1 class="text-xl">Location</h1>
                </Header>
            </Heading>
            <div class="flex flex-col md:flex-row gap-4 mt-4 my-auto items-center">
                <div class="">
                    @* <Image ImageName="Solarscore.png" css="w-60 h-60" alt="Solar Score" /> *@
                    <Map css="w-80"></Map>
                </div>
                <div class="flex flex-col justify-start gap-10">
                    @{
                        var location = "";
                        var solarScore = "";
                        var avgEnergyProduction = "";
                        if (reportAll != null)
                        {
                            location = reportAll[selectedReport].location;
                            solarScore = reportAll[selectedReport].solarScore + "%";
                            avgEnergyProduction = Math.Round(reportAll[selectedReport].numberOfPanels *
                            reportAll[selectedReport].daylightHours * reportAll[selectedReport].solarInput /1000, 2) + " kw/h";
                        }
                    }
                    <LocationItem Title="Address" ImageName="Point On Map.svg" Text=@location />
                    <LocationItem Title="Solar Score" ImageName="Sale.svg" Text=@solarScore />
                    <div class="translate-x-1">
                        <LocationItem Title="Avg Energy Production" ImageName="Accumulator.svg"
                            Text=@avgEnergyProduction />
                    </div>
                </div>
            </div>
        </Card>
    </div>
    <div class="w-full md:w-1/3">
        <Card css="h-full">
            <div class="flex flex-col justify-center">
                <Heading>
                    <Header>
                        <h1 class="text-xl text-start">System Size</h1>
                    </Header>
                </Heading>
                <div class="flex justify-around gap-4 mt-4 scale-75">
                    @{
                        var numPanels = 0;
                        var numBatteries = 0;
                        var systemSize = 0;
                        if (reportAll != null)
                        {
                            systemSize = reportAll[selectedReport].inverterOutput;
                            numPanels = reportAll[selectedReport].numberOfPanels;
                            numBatteries = reportAll[selectedReport].numberOfBatteries;
                        }
                    }
                    <Appliance ImageName="SolarPanels.svg" Name="Number of Panels" Count=@numPanels />
                    <Appliance ImageName="Batteries.svg" Name="Number of Batteries" Count=@numBatteries />
                </div>
                <div class="flex w-full justify-center items-center gap-1 mt-4">
                    <p class="text-5xl text-primary-900 font-semibold">@systemSize</p>
                    <p class="text-5xl text-gray-400 font-bold">kw</p>
                </div>
            </div>
        </Card>
    </div>
</div>

@code {
    [Parameter]
    public string? css { get; set; }
    [Parameter]
    public List<ReportAllModel>? reportAll { get; set; }
    [Parameter]
    public int selectedReport { get; set; }

}