<div class="flex w-full gap-3 @css">
    <div class="w-2/3">
        <Card>
            <Heading>
                <Header>
                    <h1 class="text-xl">Location</h1>
                </Header>
            </Heading>
            <div class="flex gap-4 my-auto items-center">
                <div class="">
                    <Image ImageName="Solarscore.png" css="w-60 h-60" alt="Solar Score" />
                </div>
                <div class="flex flex-col justify-start gap-10">
                    <LocationItem Title="Address" ImageName="Point On Map.svg" Text="1234 Main Street" />
                    <LocationItem Title="Solar Score" ImageName="Sale.svg" Text="89%" />
                    <div class="translate-x-1">
                        <LocationItem Title="Avg Energy Production" ImageName="Accumulator.svg" Text="129 kw/h" />
                    </div>
                </div>
            </div>
        </Card>
    </div>
    <div class="w-1/3">
        <Card>
            <Heading>
                <Header>
                    <h1 class="text-xl">System Size</h1>
                </Header>
            </Heading>
            
        </Card>
    </div>
</div>

@code {
    [Parameter]
    public string? css { get; set; }
}