@using BlazorApp.Components.Base
@inject ProtectedLocalStorage ProtectedLocalStore
@inject ProtectedSessionStorage ProtectedSessionStore

<div class="flex w-full justify-center md:flex-row flex-col gap-3 @css">
    <div class="w-full md:w-2/3">
        <Card>
            <Heading>
                <Header>
                    <h1 class="text-xl">Location</h1>
                </Header>
            </Heading>
            <div class="flex flex-col md:flex-row gap-4 mt-4 my-auto items-center">
                <div class="w-80">
                    <Map scale="scale-[2.6]" imageName="@satteliteImage"/>
                </div>
                <div class="flex flex-col justify-start gap-10">
                    @{
                        var location = "";
                        var sScore = "";
                        var avgEnergyProduction = "";
                        if (reports != null)
                        {
                            location = currentLocationData!.locationName;
                            sScore = solarScore + "%";
                            avgEnergyProduction = Math.Round(systems![selectedSystem].numberOfPanels *
                            currentLocationData.daylightHours * systems[selectedSystem].solarInput /1000, 2) + " kw/h";
                        }
                    }
                    <LocationItem Title="Address" ImageName="Point On Map.svg" Text=@location />
                    <LocationItem Title="Solar Score" ImageName="Sale.svg" Text=@sScore />
                    <div class="translate-x-1">
                        <LocationItem Title="Avg Energy Production" ImageName="Accumulator.svg"
                            Text=@avgEnergyProduction />
                    </div>
                </div>
            </div>
        </Card>
    </div>
    <div class="w-full md:w-1/3">
        <Card css="h-full">
            <div class="flex flex-col justify-center">
                <Heading>
                    <Header>
                        <h1 class="text-xl text-start">System Size</h1>
                    </Header>
                </Heading>
                <div class="flex justify-around gap-4 mt-4 scale-75">
                    @{
                        var numPanels = 0;
                        var numBatteries = 0;
                        var systemSize = 0;
                        for (int i = 0; i < systems!.Count; i++)
                        {
                            if (systems[i].systemId == reports![selectedReport].systemId)
                            {
                                systemSize = systems[i].inverterOutput;
                                numPanels = systems[i].numberOfPanels;
                                numBatteries = systems[i].numberOfBatteries;
                            }
                        }
                    }
                    <Appliance ImageName="SolarPanels.svg" Name="Number of Panels" Count=@numPanels />
                    <Appliance ImageName="Batteries.svg" Name="Number of Batteries" Count=@numBatteries />
                </div>
                <div class="flex w-full justify-center items-center gap-1 mt-4">
                    <p class="text-5xl text-primary-900 font-semibold">@systemSize</p>
                    <p class="text-5xl text-gray-400 font-bold">kw</p>
                </div>
            </div>
        </Card>
    </div>
</div>

@code {
    private string? satteliteImage;
    private string? API_PORT = Environment.GetEnvironmentVariable("API_PORT");
    private DataHandlers.RooftopDataHandler rooftopDataHandler = new DataHandlers.RooftopDataHandler();
    [Parameter]
    public string? css { get; set; }
    [Parameter]
    public List<ReportModel>? reports { get; set; }
    [Parameter]
    public int selectedReport { get; set; }
    [Parameter]
    public LocationDataModel? currentLocationData { get; set; }
    [Parameter]
    public List<SystemModel>? systems { get; set; }
    [Parameter]
    public int solarScore { get; set; } 
    public int selectedSystem { get; set; }

    protected override void OnInitialized(){
        for (int i = 0; i < systems!.Count; i++)
        {
            if (reports![selectedReport].systemId == systems[i].systemId)
            {
                selectedSystem = i;    
            }
        }

        if(currentLocationData != null) {
            satteliteImage = rooftopDataHandler.GetSatelliteImage(currentLocationData.satteliteImageData!);
        }


    }
}