<div class="flex w-full gap-3 @css">
    <div class="w-2/3">
        <Card>
            <Heading>
                <Header>
                    <h1 class="text-lg">Location</h1>
                </Header>
            </Heading>
        </Card>
    </div>
    <div class="w-1/3">
        <Card>
            <Heading>
                <Header>
                    <h1 class="text-lg">System Size</h1>
                </Header>
            </Heading>
        </Card>
    </div>
</div>

@code {
    [Parameter]
    public string? css { get; set; }
}