<div role="status" class="animate-pulse md:space-y-0 md:space-x-8 md:flex md:items-center">
    <div class="z-10 flex items-center justify-center w-16 h-16 bg-gray-300 rounded-md ">
        <svg class="w-10 h-10 text-gray-200 aria-hidden=" true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 0 20 18">
            <path
                d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z" />
        </svg>
    </div>
    <div class="w-full">
        <div class="h-8 bg-gray-200 rounded-full  w-56 mb-3 mt-3"></div>
    </div>
    <span class="sr-only">Loading...</span>
</div>
<div class="flex gap-4 mt-4">
    <div class="grid scale-90 grid-cols-2 gap-1.5 w-full">
        <div class="justify-center">
            <div
                class="flex bg-gray-100 shadow-md rounded-3xl mx-auto my-auto p-2 w-[80px] h-[80px] animate-pulse items-center justify-center">
                <svg class="w-12 h-12 text-gray-200 " aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                    <path
                        d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z" />
                </svg>
            </div>
            <div role="status" class="max-w-sm animate-pulse mt-3">
                <div class="h-2 bg-gray-200 rounded-full  w-[100px] mx-auto"></div>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="justify-center">
            <div
                class="flex bg-gray-100 shadow-md rounded-3xl mx-auto my-auto p-2 w-[80px] h-[80px] animate-pulse items-center justify-center">
                <svg class="w-12 h-12 text-gray-200 " aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                    <path
                        d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z" />
                </svg>
            </div>
            <div role="status" class="max-w-sm animate-pulse mt-3">
                <div class="h-2 bg-gray-200 rounded-full  w-[100px] mx-auto"></div>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="justify-center">
            <div
                class="flex bg-gray-100 shadow-md rounded-3xl mx-auto my-auto p-2 w-[80px] h-[80px] animate-pulse items-center justify-center">
                <svg class="w-12 h-12 text-gray-200 " aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                    <path
                        d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z" />
                </svg>
            </div>
            <div role="status" class="max-w-sm animate-pulse mt-3">
                <div class="h-2 bg-gray-200 rounded-full  w-[100px] mx-auto"></div>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="justify-center">
            <div
                class="flex bg-gray-100 shadow-md rounded-3xl mx-auto my-auto p-2 w-[80px] h-[80px] animate-pulse items-center justify-center">
                <svg class="w-12 h-12 text-gray-200 " aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                    <path
                        d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z" />
                </svg>
            </div>
            <div role="status" class="max-w-sm animate-pulse mt-3">
                <div class="h-2 bg-gray-200 rounded-full  w-[100px] mx-auto"></div>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div class="flex flex-col justify-center w-full items-center gap-5">
        <div class="flex flex-col gap-1 animate-pulse justify-center items-center">
            <div class="h-6 bg-gray-200 rounded-full  w-48 mt-2"></div>
            <div class="flex mt-3">
                <div class="h-12 bg-gray-200 rounded-full  w-52 mt-1"></div>
            </div>
        </div>
        <DaylightChart hours="0" daylightHours="0" />
        <div class="flex w-full justify-center items-center -mt-10 animate-pulse">
            <div class="h-12 bg-gray-200 rounded-full  w-44"></div>
        </div>
        <div class="h-6 bg-gray-200 rounded-full  w-60 -mt-8 animate-pulse"></div>
    </div>
    <div class="flex flex-col w-full -mt-20 justify-center items-center gap-4">
        <div class="-mt-10 mb-5 w-full flex flex-col">
            <div class="justify-center">
                <div
                    class="flex bg-gray-100 shadow-md rounded-3xl mx-auto w-[80px] h-[80px] animate-pulse items-center justify-center">
                    <svg class="w-14 h-14 text-gray-200 " aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                        <path
                            d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z" />
                    </svg>
                </div>
                <div role="status" class="max-w-sm animate-pulse mt-3">
                    <div class="h-3 bg-gray-200 rounded-full  w-[120px] mb-2 mx-auto"></div>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="h-2 bg-gray-200 rounded-full  w-[325px] mb-2.5 mx-auto animate-pulse">
            </div>
        </div>
        <div class="justify-start items-start -mt-10">
            <div class="flex">
                <div class="flex flex-col gap-2 justify-center items-center w-full">
                    <div
                        class="flex bg-gray-100 shadow-md rounded-3xl mx-auto w-[80px] h-[120px] animate-pulse items-center justify-center">
                        <svg class="self-center w-14 h-14 text-gray-200 " aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                            <path
                                d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z" />
                        </svg>
                    </div>
                    <div role="status" class="max-w-sm animate-pulse mt-3">
                        <div class="h-3 bg-gray-200 rounded-full  w-[140px] mb-2.5"></div>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="mx-auto">
                    <div
                        class="flex bg-gray-100 shadow-md rounded-3xl mx-auto w-[80px] h-[80px] animate-pulse items-center justify-center">
                        <svg class="w-14 h-14 text-gray-200 " aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                            <path
                                d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z" />
                        </svg>
                    </div>
                    <div role="status" class="max-w-sm animate-pulse mt-3">
                        <div class="h-3 bg-gray-200 rounded-full  w-[110px] mb-2.5 mx-auto">
                        </div>
                        <div class="h-3 bg-gray-200 rounded-full  w-[80px] mb-2 mx-auto">
                        </div>
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <div class="h-2 bg-gray-200 rounded-full  w-[325px] mt-2.5 animate-pulse"></div>
        </div>
    </div>
</div>