<footer class="bg-white  overflow-hidden">
  <hr class="mx-4 mt-4">
  <div class="w-full p-4 flex flex-col items-center md:flex-row justify-between">

    <div class="text-sm text-gray-500 flex flex-col gap-1 text-center">

      <p class="text-center">© 2023 Blue Skies. All Rights Reserved.</p>
      <p class="text-gray-500">Contact us:
        <a href="mailto:debuggersanonymous2023@gmail.com" class="hover:underline w-full text-blue-900">
          debuggersanonymous2023@gmail.com
        </a>
      </p>

    </div>

    <div>
      <ul class="flex flex-wrap flex-col sm:flex-row gap-2 items-center mt-3 text-sm font-medium text-gray-500 sm:mt-0">
        <li>
          <a href="/" class="mr-4 md:mr-6">Home</a>
        </li>
        <li>
          <a href="/solarscore" class="mr-4 md:mr-6">Solar Score</a>
        </li>
        <li>
          <a href="/advanced" class="mr-4 md:mr-6">Advanced</a>
        </li>
      </ul>
    </div>
  </div>
</footer>