<footer class="bg-white border-t-2 m-4">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center"
      >© 2023
      <a href="http://localhost:5135/" class="hover:underline">Blue Skies</a>.
      All Rights Reserved.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 sm:mt-0"
    >
      <li>
        <a href="/" class="mr-4 md:mr-6">Home</a>
      </li>
      <li>
        <a href="/solarscore" class="mr-4 md:mr-6">Solar Score</a>
      </li>
      <li>
        <a href="/advanced" class="mr-4 md:mr-6">Advanced</a>
      </li>
    </ul>
  </div>
</footer>



