@inherits LayoutComponentBase
@inject BlazorApp.Data.LoadingService loadingService
@inject BlazorApp.Data.ToastService toastService

<PageTitle>Blue Skies</PageTitle>

<div class="page"> 
    <main>
        @if(isLoading) {
            <BlazorApp.Section.LoadingScreen/>
        }

        <NavMenu />

        <div class="mt-36 w-full">
            @Body
        </div>

        <div class="mt-20">
            <Footer />
        </div>
    </main>
</div>

@code {
    private bool isLoading = false;

     protected override void OnInitialized()
    {
        // Subscribe to events
        loadingService.ShowLoadingScreenRequested += ShowLoadingScreen;
        loadingService.HideLoadingScreenRequested += HideLoadingScreen;
        toastService.ShowToastRequested += ShowToast;
    }

    public void ShowLoadingScreen()
    {
        isLoading = true;
        StateHasChanged();
    }

    public void HideLoadingScreen()
    {
        isLoading = false;
        StateHasChanged();
    }

    public void ShowToast(string message, string type) {
        Console.WriteLine("Messaffe: " + message + " Type: " + type);
        isLoading = true;
        StateHasChanged();
    }

    public void Dispose()
    {
        loadingService.ShowLoadingScreenRequested -= ShowLoadingScreen;
        loadingService.HideLoadingScreenRequested -= HideLoadingScreen;
        toastService.ShowToastRequested -= ShowToast;
    }
}