@inherits LayoutComponentBase

<PageTitle>Blue Skies</PageTitle>

<div class="page"> 
    <main>
        <NavMenu />

        <article class="content">
            @Body
        </article>

        <Footer />
    </main>
</div>
