@inherits LayoutComponentBase

<PageTitle>Blue Skies</PageTitle>

<div class="page"> 
    <main>
        <NavMenu />

        <div class="fixed top-24 left-0 w-full">
            @Body
        </div>

        <Footer />
    </main>
</div>
