@inherits LayoutComponentBase

<PageTitle>Blue Skies</PageTitle>

<div class="page"> 
    <main>
        <NavMenu />

        <div class="mt-36 w-full">
            @Body
        </div>

        <div class="mt-20">
            <Footer />
        </div>
    </main>
</div>
