@page "/admin/products"
@layout AdminLayout
@using BlazorApp.Components.Base
@using BlazorApp.Components.Admin
@using BlazorApp.Components
@using BlazorApp.Models
@using System.Text.Json;
@inject ProtectedLocalStorage ProtectedLocalStore;
@inject NavigationManager NavigationManager;
@inject BlazorApp.Data.ToastService toastService;

<PageTitle>Blue Skies - Solar Products</PageTitle>

<div class="slide-in-enter-active mt-2">
    <div class="flex w-full justify-around p-4">
        <div class="">
            <Heading>
                <Superscript>
                    <h2>Manage all</h2>
                </Superscript>
                <Header>
                    <h1>Solar Products</h1>
                </Header>
            </Heading>
        </div>
        <div class="flex  gap-10 items-center">
            <div @onclick="ModalPopup.Show">
                <Button style="outline">
                    <content>Delete</content>
                </Button>
            </div>
            <div @onclick="AddProduct">
                <Button style="pill">
                    <content>Add</content>
                </Button>
            </div>
        </div>
    </div>

    <ModalPopup @ref="ModalPopup" Title="Delete Solar Product?">
        <ChildContent>
            <p>Are you sure that you want to delete this Solar Product?</p>
            <div class="flex flex-row gap-4 justify-center">
                <div @onclick="DeleteProducts">
                    <Button style="danger">
                        <content>
                            delete
                        </content>
                    </Button>
                </div>
                <div @onclick="ModalPopup.Dismiss">
                    <Button style="outline-danger">
                        <content>Cancel</content>
                    </Button>
                </div>
            </div>
        </ChildContent>
    </ModalPopup>

    <div class="relative overflow-x-auto  mt-2">
        <table class="w-full  text-sm text-center ">
            <thead class="text-xs bg-primary-50  uppercase ">
                <tr>
                    <th scope="col" class="px-6 py-3 text-center">
                        <input type="checkbox" class="form-checkbox h-5 w-5  " />
                    </th>
                    <th scope="col" class="px-6 py-3  ">
                        System Size
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Number of Panels
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Inverter Output
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Solar Input
                    </th>
                    <th scope="col" class="px-6 py-3"></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var product in products)
                {
                    <ProductEntry recordState="product.recordState != null ? true : false" product="product"
                        OnSelect="AddDeleteArr" OnSave="SaveProduct" />
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    private SharedUtils.systemClass systemClass = new SharedUtils.systemClass();
    private ModalPopup ModalPopup { get; set; } = new ModalPopup();

    private List<SystemModel> products = new List<SystemModel>();
    private string? API_PORT = Environment.GetEnvironmentVariable("API_PORT");
    private List<int> deleteArr = new List<int>();

    private async Task DeleteProducts()
    {
        foreach (int id in deleteArr)
        {
            await DeleteProduct(id);
        }
        deleteArr.Clear();
        await GetProducts();
    }
    private void AddDeleteArr(int id)
    {
        if (deleteArr.Contains(id))
        {
            deleteArr.Remove(id);
        }
        else
        {
            deleteArr.Add(id);
        }
        //Print deleteArr
        foreach (int i in deleteArr)
        {
            Console.WriteLine(i);
        }
    }

    //Delete Product
    private async Task DeleteProduct(int id)
    {
        if (await systemClass.DeleteSystem(id))
        {
            await GetProducts();
            Console.WriteLine("Deleted Solar Product");
            toastService.ShowToast("Product Deleted", "Successfully deleted product", "success");
        }
        else
        {
            Console.WriteLine("Failed to delete");
        }
    }
    protected override async Task OnInitializedAsync()
    {
        await GetProducts();
    }

    private async Task GetProducts()
    {
        List<SystemModel> result = await systemClass.GetAllSystems();
        if (result != null)
        {
            products = result;
        }
        else
        {
            Console.WriteLine("Failed");
        }
    }

    private void AddProduct()
    {
        products.Add(new SystemModel
            {
                systemId = -1,
                systemSize = "",
                inverterOutput = 0,
                numberOfPanels = 0,
                batterySize = 0,
                numberOfBatteries = 0,
                solarInput = 0,
                recordState = true
            });
    }

    private async Task SaveProduct(SystemModel product)
    {
        if (product.systemId == -1)
        {
            Console.WriteLine("Add Solar Product");
            if(await systemClass.CreateSystem(product) > -1) {
                await GetProducts();
                Console.WriteLine("Updated Solar Product");
                @* successToast.Show("Added", "Successfully added product", "success"); *@
                toastService.ShowToast("Product Added", "Successfully added product", "success");
            }
            else
            {
                Console.WriteLine("Failed to add");
            }
        }
        else
        {
            Console.WriteLine("Update Solar Product");
            if (await systemClass.UpdateSystem(product))
            {
                await GetProducts();
                Console.WriteLine("Updated Solar Product");
                @* successToast.Show("Updated", "Successfully updated product", "success"); *@
                toastService.ShowToast("Product Updated", "Successfully updated product", "success");
            }
            else
            {
                Console.WriteLine("Failed to Update");
            }
        }
    }
}