@using ChartJs.Blazor.LineChart

@namespace BlazorApp.FancyData

<div class="w-full -ml-5">
    <Chart Config="lineConfig" />
</div>

@code {

    [Parameter] public string? elevationValues { get; set; }
    private LineConfig? lineConfig;

    [Parameter]
    public bool animated { get; set; } = true;

    @* OnParametersSet *@
    protected override void OnParametersSet()
    {
        if (elevationValues != null)
        {
            CalculateData();
        }
    }
    protected override void OnInitialized()
    {

        lineConfig = new LineConfig
        {
            Options = new LineOptions
            {
                Legend = new Legend
                {
                    Display = false
                },
                Responsive = true,
                Title = new OptionsTitle
                {
                    Display = false,
                },
                Hover = new Hover
                {
                    Intersect = true,
                    Axis = ChartJs.Blazor.Common.Enums.AxisDirection.Y,
                    Mode = ChartJs.Blazor.Common.Enums.InteractionMode.Nearest
                },
                Scales = new Scales
                {
                    YAxes = new List<CartesianAxis>
                    {
                        new LinearCartesianAxis
                        {
                            ScaleLabel = new ScaleLabel
                            {
                                LabelString = "Height",
                                Display = false,
                            },
                            Ticks = new LinearCartesianTicks
                            {
                                BeginAtZero = true,
                                Display = false, 
                            }
                        }
                    },
                    XAxes = new List<CartesianAxis>
                    {
                        new LinearCartesianAxis
                        {
                            GridLines = new GridLines
                            {
                                Display = false, // Set Display to false to remove X-axis grid lines
                            },
                            Ticks = new LinearCartesianTicks
                            {
                                BeginAtZero = true,
                            }
                        }
                    }
                }
            }
        };

        if (!animated)
        {
            lineConfig.Options.Animation = new Animation
            {
                Duration = 0
            };
        }

    }

    @* Calculate Data *@
    private void CalculateData()
    {
        lineConfig!.Data.Labels.Clear();
        lineConfig.Data.Datasets.Clear();
        if (elevationValues == null)
        {
            Console.WriteLine("No elevation data");
            return;
        }
        elevationValues = elevationValues.Replace("[", "");
        elevationValues = elevationValues.Replace("]", "");
        double[] dataArr = new double[0];
        try
        {
            dataArr = elevationValues.Split(',').Select(double.Parse).ToArray();
        }
        catch
        {
            string[] arr = elevationValues.Split(',').ToArray();
            string[] newArr = new string[arr.Length];
            for (int i = 0; i < arr.Length; i++)
            {
                newArr[i] = arr[i].Replace(".", ",");
            }
            dataArr = newArr.Select(double.Parse).ToArray();
        }
        double[] xValues = new double[dataArr.Length / 2 + 1];
        double[] yValues = new double[dataArr.Length / 2 + 1];
        for (int i = 0; i < dataArr.Length; i++)
        {
            if(i % 2 == 0)
            {
                xValues[i / 2] = dataArr[i];
                if(dataArr[i] >= 180) {
                    xValues[i / 2] = dataArr[i] - 360;
                }
            }
            else
            {
                yValues[i / 2] = Math.Round(dataArr[i], 2);   

            }
        }
        xValues[xValues.Length - 1] = xValues[0];
        yValues[yValues.Length - 1] = yValues[0];

        @* Put the first half of the array to the back of the array *@
        double[] tempX = new double[xValues.Length];
        double[] tempY= new double[yValues.Length];
        for (int i = 0; i < xValues.Length; i++)
        {
            tempX[i] = xValues[i];
            tempY[i] = yValues[i];
        }
        for (int i = 0; i < xValues.Length; i++)
        {
            if (i < xValues.Length / 2)
            {
                xValues[i] = tempX[i + xValues.Length / 2];
                yValues[i] = tempY[i + xValues.Length / 2];
            }
            else
            {
                xValues[i] = tempX[i - xValues.Length / 2];
                yValues[i] = tempY[i - xValues.Length / 2];
            }
        }
        xValues[xValues.Length - 1] = 180;

        double[] yRedDotValues = new double[dataArr.Length / 2 + 1];
        for(int i = 0; i < yRedDotValues.Length; i++)
        {
            if(i == yRedDotValues.Length / 2)
            {
                yRedDotValues[i] = yValues[i];
            } else
            {
                yRedDotValues[i] = double.NaN;
            }
        }

        
        IDataset<double> redDotDataset = new LineDataset<double>(yRedDotValues)
        {
            Order = 0,
            Label = "Your location",
            BackgroundColor = "rgba(255, 0, 0, 1)",
            BorderColor = "rgba(255, 0, 0, 1)",
            BorderWidth = 1,
            Fill = FillingMode.Disabled,
            PointRadius = animated == true ? 8 : 2,
            PointHoverRadius = 8,
            PointBackgroundColor = "rgba(255, 0, 0, 1)",
            PointBorderColor = "rgba(255, 0, 0, 1)",
            PointBorderWidth = 1,
            PointHoverBackgroundColor = "rgba(255, 0, 0, 1)",
            PointHoverBorderColor = "rgba(255, 0, 0, 1)",
            PointHoverBorderWidth = 1,
        };
        lineConfig.Data.Datasets.Add(redDotDataset);


        for (int i = 0; i < xValues.Length; i++)
        {
            string label = xValues[i].ToString();
            if(xValues[i] == 0) {
                label = "N : " + label;
            } else if (xValues[i] == 90) {
                label = "E : " + label;
            } else if (xValues[i] == 180 || xValues[i] == -180) {
                label = "S : " + label;
            } else if (xValues[i] == -90) {
                label = "W : " + label;
            }
            lineConfig.Data.Labels.Add(label);
        }

        IDataset<double> elevationDataset = new LineDataset<double>(yValues)
        {
            Order = 1,
            Label = "Horizon",
            BackgroundColor = "rgba(31, 52, 91, 1)",
            BorderColor = "rgba(31, 52, 91, 1)",
            BorderWidth = 1,
            Fill = FillingMode.Start,
            PointRadius = 0,
            PointHoverRadius = 0,
        };
        lineConfig.Data.Datasets.Add(elevationDataset);

        addSunDataSet(35, 60, "Sun - Winter solstice", xValues, yValues, "rgba(0,15,82, 1)", false, 0, true);
        addSunDataSet(55, 90, "Sun - Spring Equinox", xValues, yValues, "rgba(246,135,18, 1)", false, 0, false);
        addSunDataSet(80, 120, "Sun - Summer solstice", xValues, yValues, "rgba(0,15,82, 1)", true, 2);

        @* Set the max YAxes to 1.25 the max value of the highest elevation point *@
        double maxY = Math.Max(yValues.Max(), 80) * 1.25;

        lineConfig.Options.Scales = new Scales
        {
            YAxes = new List<CartesianAxis>
            {
                new LinearCartesianAxis
                {
                    Ticks = new LinearCartesianTicks
                    {
                        Max = maxY ,
                        Display = false,
                    },
                    GridLines = new GridLines
                    {
                        Display = false,
                    }, 
                    ScaleLabel = new ScaleLabel
                    {
                        LabelString = "Height",
                        Display = false,
                    },
                }
            }, 
        };
    }


    private void addSunDataSet(int MaxHeight, int maxLength, string labelName, double[] xValues, double[] yValues, string color = "rgba(255, 255, 0, 1)", bool fill = false, int fillNum = 0, bool makeBottomZero = false) {
        double[] xSunValues = new double[xValues.Length];
        double[] ySunValues = new double[yValues.Length];

        for(int i = 0; i < xValues.Length; i++)
        {
            xSunValues[i] = xValues[i];
            ySunValues[i] = double.NaN;

            if(makeBottomZero && (xSunValues[i] == -120 || xSunValues[i] == 120)) {
                ySunValues[i] = 0;
            }

            if(xSunValues[i] == maxLength || xSunValues[i] == -maxLength) {
                ySunValues[i] = 0;
            }
            
            if(xSunValues[i] > -maxLength && xSunValues[i] < maxLength) {
                if(xSunValues[i] % 5 == 0) {
                    ySunValues[i] = Math.Round(Math.Pow((xSunValues[i] / maxLength), 2) * -MaxHeight + MaxHeight, 2);
                } else {
                    ySunValues[i] = double.NaN;
                }

                if(ySunValues[i] < yValues[i]) {
                    ySunValues[i] = double.NaN;
                }
            }
        }

        LineDataset<double> sunDataset;
        if (fill)
        {
            sunDataset = new LineDataset<double>(ySunValues) {    
                Order = 2,
                Label = labelName,
                BackgroundColor = "rgba(255, 208, 0, 0.4)",
                BorderColor = color,
                BorderWidth = 0,
                Fill = FillingMode.Absolute(fillNum),
                PointHoverRadius = 15,
                BorderDash = new int[] { 20, 20 },
                BorderDashOffset = 10,
                PointRadius = 5,
                PointBackgroundColor = "rgba(231, 111, 15, 1)",
                SpanGaps = true,
            };
        } 
        else if(makeBottomZero) 
        {
            sunDataset = new LineDataset<double>(ySunValues) {   
                Order = 2, 
                Label = labelName,
                BorderColor = color,
                BorderWidth = 0,
                Fill = FillingMode.Disabled,
                PointHoverRadius = 15,
                BorderDash = new int[] { 20, 20 },
                BorderDashOffset = 32,
                PointRadius = 5,
                PointBackgroundColor = "rgba(251, 200, 118, 1)",
                PointBorderWidth = 0,
                SpanGaps = true,
            };
        }
        else 
        {
            sunDataset = new LineDataset<double>(ySunValues) {    
                Order = 2,
                Label = labelName,
                BackgroundColor = color,
                BorderColor = color,
                BorderWidth = 1,
                Fill = FillingMode.Disabled,
                PointHoverRadius = 15,
                PointRadius = 5,
                PointBackgroundColor = "rgba(246, 135, 18, 1)",
                PointBorderWidth = 0,
            };
        }

        lineConfig!.Data.Datasets.Add(sunDataset);
    }
}

@* 
--ecstasy-50: 255 249 237;
--ecstasy-100: 254 241 214;
--ecstasy-200: 253 223 171;
--ecstasy-300: 251 200 118;
--ecstasy-400: 249 165 62;
--ecstasy-500: 246 135 18;
--ecstasy-600: 231 111 15;
--ecstasy-700: 192 84 14;
--ecstasy-800: 152 67 20;
--ecstasy-900: 123 57 19;
--ecstasy-950: 66 26 8;

 *@