@using BlazorApp.Components.Base


<div class="bg-transparent h-fit w-full">
  <div class="relative isolate pt-14">
    <div class="grid gap-4 -mt-20 md:-mt-0 grid-cols-1 lg:grid-cols-2">
      <EnterLocation />
      <div class="mx-auto -mt-48 mb-10 sm:my-auto max-w-xl px-5 lg:px-0 py-32 sm:py-20 lg:py-28">
        <Image ImageName="LandingGraphic.svg" css="scale-125" alt="Landing Graphic"/>
      </div>
    </div>
  </div>
</div>