@page "/admin/stats"
@layout AdminLayout
@using ChartJs.Blazor.PieChart
@using BlazorApp.Components.Base

<PageTitle>Blue Skies - Stats</PageTitle>

<div class="mt-2">
    <div class="flex w-full justify-around p-4">
        <div class="">
            <Heading >
                <Superscript>
                    <h2>Website</h2>
                </Superscript>
                <Header>
                    <h1>Statistics</h1>
                </Header>
            </Heading>
        </div>
        <div class="flex  gap-10 items-center">
            <Button style="outline">
               <content>Delete</content>
            </Button>
            <Button style="pill">
               <content>Edit</content>
            </Button>
            <Button style="pill">
               <content>Add</content>
            </Button>
        </div>
    </div>
    
<Chart Config="_config"></Chart>
</div>

@code {
private PieConfig? _config;

protected override void OnInitialized()
{
    _config = new PieConfig
    {
        Options = new PieOptions
        {
            Responsive = true,
            Title = new OptionsTitle
            {
                Display = true,
                Text = "ChartJs.Blazor Pie Chart"
            }
        }
    };

    foreach (string color in new[] { "Red", "Yellow", "Green", "Blue" })
    {
        _config.Data.Labels.Add(color);
    }

    PieDataset<int> dataset = new PieDataset<int>(new[] { 6, 5, 3, 7 })
    {
        BackgroundColor = new[]
        {
            ColorUtil.ColorHexString(255, 99, 132), // Slice 1 aka "Red"
            ColorUtil.ColorHexString(255, 205, 86), // Slice 2 aka "Yellow"
            ColorUtil.ColorHexString(75, 192, 192), // Slice 3 aka "Green"
            ColorUtil.ColorHexString(54, 162, 235), // Slice 4 aka "Blue"
        }
    };

    _config.Data.Datasets.Add(dataset);
}
}