@page "/advanced"
@layout AppLayout


<PageTitle>Advanced Calculations</PageTitle>

<div class="w-full">
    <div class="mb-20"><BlazorApp.Section.AdvancedResults/></div>
    <div class="w-full">
        <BlazorApp.Section.BuildYourHome/>
    </div>
</div>
