@page "/advanced"
@layout MainLayout
@inject ProtectedLocalStorage ProtectedLocalStore;
@inject ProtectedSessionStorage ProtectedSessionStore;
@inject NavigationManager NavigationManager;
@using BlazorApp.Models;
@using System.Text.Json
@using BlazorApp.Components
@inject BlazorApp.Data.ToastService toastService;

<PageTitle>Advanced Calculations</PageTitle>
    <div class="fade-in-enter-active">
        @if(!isLoaded){}
        else if (!logIn) {
            ProtectedLocalStore.SetAsync("redirect", "advanced");
            NavigationManager.NavigateTo("/login");
        } else  if (isAd) {
            NavigationManager.NavigateTo("/admin/keys");  
        } else if (solarScore == 0) {
            @* deleteToast.Show("Solar Score not Created", "You must first create a solar score", "error"); *@
            toastService.ShowToast("Solar Score not Created", "You must first create a solar score", "error");

            NavigationManager.NavigateTo("/solarScore");
        } else {
        <div class="w-full">
            <div class="mb-20"><BlazorApp.Section.AdvancedResults solarScore="solarScore" basicCalculation="basicCalculation" systems="systems"/></div>
            <div class="w-full">
                <BlazorApp.Section.BuildYourHome @bind-selectedSystem="selectedSystem"  appliances="@appliances" systems="systems" basicCalc="basicCalculation" solarScore="solarScore"/>    
            </div>
        </div>
        }
    </div>

@code {
    private bool logIn = false;
    private bool isAd = false;
    private bool isLoaded = false;
    private bool edit = false;
    private string? API_PORT = Environment.GetEnvironmentVariable("API_PORT");
    private List<ApplianceModel> appliances = new List<ApplianceModel>();
    private List<ApplianceModel> advancedCalculationAppliances = new List<ApplianceModel>();
    private BasicCalculationModel basicCalculation = new BasicCalculationModel();
    private List<SystemModel> systems = new List<SystemModel>();
    private int selectedSystem = 0;
    private int solarScore = 0;


    protected override async Task OnInitializedAsync()
    {
        var loggedIn = await ProtectedLocalStore.GetAsync<bool>("loggedIn");
        var isAdmin = await ProtectedLocalStore.GetAsync<bool>("isAdmin");
        var editing = await ProtectedSessionStore.GetAsync<bool>("edit");
        edit = editing.Value;
        Console.WriteLine("Edit: " + edit);
        logIn = loggedIn.Value;
        isAd = isAdmin.Value;
        isLoaded = true;
        if (edit)
        {
            var rep = await ProtectedSessionStore.GetAsync<ReportModel>("currentReport");
            ReportModel report = rep.Value!;
            var bCalcId = report.basicCalculationId;
            var sScore = report.solarScore;

            solarScore = sScore;
            Console.WriteLine("ReportId: " + report.reportId + " SolarScore: " + sScore + " BasicCalcId: " + bCalcId);
            await getBasicCalculation(bCalcId);
            selectedSystem = basicCalculation.systemId - 2;
        } else {
            var bCalcId = await ProtectedSessionStore.GetAsync<int>("basicCalculationId");
            var sScore = await ProtectedSessionStore.GetAsync<int>("solarScore");
            var sSystem = await ProtectedSessionStore.GetAsync<int>("selectedSystem");

            selectedSystem = sSystem.Value;
            solarScore = sScore.Value;
            await getBasicCalculation(bCalcId.Value);
        }

        await GetAppliancesAsync();
        await GetSystemsAsync();
    }

    private async Task GetSystemsAsync(){
        var client = new HttpClient();
        var request = new HttpRequestMessage(HttpMethod.Get, API_PORT + "/System/all");
        var response = await client.SendAsync(request);
        if (response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            var data = await response.Content.ReadAsStringAsync();
            systems = JsonSerializer.Deserialize<List<SystemModel>>(data, new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive =
                true
                })!;
            if (systems.Count > 0)
            {
                await ProtectedLocalStore.SetAsync("systems", systems);
            }
        }
        else
        {
            Console.WriteLine("Failed");
        }
    }

    private async Task GetAppliancesAsync()
    {
        var client = new HttpClient();
        var request = new HttpRequestMessage(HttpMethod.Get, API_PORT + "/Appliance/all");
        var response = await client.SendAsync(request);
        if (response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            var data = await response.Content.ReadAsStringAsync();
            appliances = JsonSerializer.Deserialize<List<ApplianceModel>>(data, new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive =
                true
                })!;
            if (appliances.Count > 0)
            {
                await ProtectedLocalStore.SetAsync("reportAppliances", appliances);
            }
        }
        else
        {
            Console.WriteLine("Failed");
        }
    }

    private async Task getBasicCalculation(int id)
    {
        Console.WriteLine("Getting created basic calculation id");
        var client = new HttpClient();
        var request = new HttpRequestMessage(HttpMethod.Get, API_PORT + "/BasicCalculation/get/" + id);
        var response = await client.SendAsync(request);
        if (response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            var data = await response.Content.ReadAsStringAsync();
            basicCalculation = JsonSerializer.Deserialize<BasicCalculationModel>(data, new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive = true
                })!;
            Console.WriteLine("Got basic calculation");
        }
        else
        {
            Console.WriteLine("Failed to get basic calculation");
        }
        return;
    }
}