@page "/advanced"
@layout MainLayout
@inject ProtectedLocalStorage ProtectedLocalStore;
@inject NavigationManager NavigationManager;

<PageTitle>Advanced Calculations</PageTitle>
    @if(!isLoaded){}
    else if (!logIn) {
        NavigationManager.NavigateTo("/login");
    } else  if (isAd) {
        NavigationManager.NavigateTo("/admin/keys");
    } else {
    <div class="w-full">
        <div class="mb-20"><BlazorApp.Section.AdvancedResults/></div>
        <div class="w-full">
            <BlazorApp.Section.BuildYourHome/>
        </div>
    </div>
    }

@code {
    private bool logIn = false;
    private bool isAd = false;
    private bool isLoaded = false;
    protected override async Task OnInitializedAsync()
    {
        var loggedIn = await ProtectedLocalStore.GetAsync<bool>("loggedIn");
        var isAdmin = await ProtectedLocalStore.GetAsync<bool>("isAdmin");
        logIn = loggedIn.Value;
        isAd = isAdmin.Value;
        isLoaded = true;
    }
}