@page "/dashboard"
@layout MainLayout
@using BlazorApp.Components.Base
@using BlazorApp.Components.Dashboard

<PageTitle>Dashboard - Blue Skies</PageTitle>

<div class="flex flex-col justify-center items-center px-10">
    <SelectCalculation/>
    <LocationInfo css="mt-8"/>
</div>