@page "/"
@using BlazorApp.Components.Base
@inject NavigationManager NavigationManager
@inject ProtectedLocalStorage ProtectedLocalStore
@layout MainLayout

<PageTitle>Blue Skies - Home</PageTitle>

<div class="@pageTransitionClass">
    @if (!isLoaded){}
    else if (isAd){
        NavigationManager.NavigateTo("/admin/keys");
    } else {
    <div class="w-full">
        <BlazorApp.Section.Hero />

        @* How it works *@
        <div class="mt-20"><BlazorApp.Section.HowItWorks /></div>

        @* Unlock your full potential *@
        <BlazorApp.Section.CTA />

        @* Frequently Asked Questions *@
        <div class="mt-72 lg:mt-44 mb-40"><BlazorApp.Section.FAQ /></div>
    </div>
    }
</div>

@code {
  private bool isAd = false;
  private bool isLoaded = false;

  protected override async Task OnInitializedAsync()
  {
    var isAdmin = await ProtectedLocalStore.GetAsync<bool>("isAdmin");
    isAd = isAdmin.Value;
    isLoaded = true;
  }

  private string pageTransitionClass = "fade-in";

  protected override async void OnAfterRender(bool firstRender)
  {
      if (firstRender)
      {
          // Simulate a delay to show the transition effect
          await Task.Delay(500);
          pageTransitionClass = "fade-in active";
          StateHasChanged();
      }
  }

  //Go to Sign Up Page
  void Register()
  {
    NavigationManager.NavigateTo("/register");
  }
}