@page "/"
@using BlazorApp.Components.Base
@inject NavigationManager NavigationManager
@inject ProtectedLocalStorage ProtectedLocalStore
@inject ProtectedSessionStorage ProtectedSessionStorage
@layout MainLayout
@inject BlazorApp.Data.LoadingService loadingService

<PageTitle>Blue Skies - Home</PageTitle>


      <div class="fade-in-enter-active">
        @if (!isLoaded){}
        else if (isAd){
            loadingService.ShowLoadingScreen();
            NavigationManager.NavigateTo("/admin/keys");
        } else {
        <div class="w-full">
            <div class=""><BlazorApp.Section.Hero /></div>
            @* How it works *@
            <div class="mt-20"><BlazorApp.Section.HowItWorks /></div>
            @* Unlock your full potential *@
            <BlazorApp.Section.CTA />
            @* Frequently Asked Questions *@
            <div class="mt-72 lg:mt-44 mb-40"><BlazorApp.Section.FAQ /></div>
        </div>
        }
      </div>



@code {
  private bool isAd = false;
  private bool isLoaded = false;


  protected override async Task OnInitializedAsync()
  {
    var isAdmin = await ProtectedLocalStore.GetAsync<bool>("isAdmin");
    await ProtectedSessionStorage.SetAsync("parent", "index");
    isAd = isAdmin.Value;
    isLoaded = true;
    loadingService.HideLoadingScreen();
  }

  //Go to Sign Up Page
  void Register()
  {
    loadingService.ShowLoadingScreen();
    NavigationManager.NavigateTo("/register");
  }
}