@page "/"
@using BlazorApp.Components.Base
@inject NavigationManager NavigationManager
@inject ProtectedLocalStorage ProtectedLocalStore
@inject ProtectedSessionStorage ProtectedSessionStorage
@layout MainLayout
@inject BlazorApp.Data.LoadingService loadingService

<PageTitle>Blue Skies - Home</PageTitle>

<div class="fade-in-enter-active">
  @if (isLoaded){
    @if(isAd){
        loadingService.ShowLoadingScreen();
        NavigationManager.NavigateTo("/admin/keys");
    } else {
        <div class="w-full relative">
            <BlazorApp.Components.Home.Hero />

            @* How it works *@
            <Image ImageName="shapes.svg" css="absolute -top-64  -z-10 -left-1/2 w-2/3 h-2/3" alt="Shapes"/>
            <div class="mt-36 relative">
              <Image ImageName="Robert_Pointing.png" css="absolute top-0  -z-10  left-32 robert-slide-up h-72" alt="Rob"/>
              <BlazorApp.Components.Home.HowItWorks />
            </div>
            
            @* Unlock your full potential *@
            <BlazorApp.Components.Home.CTA />

            @* Frequently Asked Questions *@
            <div class="mt-72 lg:mt-44 mb-40 relative">
              <Image ImageName="shapes.svg" css="absolute -top-2/3 -z-20 -right-1/2 w-full h-full" alt="Shapes"/>
              <Image ImageName="Robert_Confused.png" css="absolute -top-32 z-20 right-16  h-80" alt="Rob"/>
              <Image ImageName="Panels.svg" css="absolute -top-20 -z-20 left-8" alt="Shapes"/>
            <BlazorApp.Components.Home.FAQ />
            </div>
        </div>
    }
  }
</div>


@code {
  private SharedUtils.locationDataModel locationData = new SharedUtils.locationDataModel();
  private bool isAd = false;
  private bool isLoaded = false;

/// <summary>
/// On page load, check if user is admin
/// </summary>
  protected override async Task OnInitializedAsync()
  {
    var isAdmin = await ProtectedLocalStore.GetAsync<bool>("isAdmin");
    await ProtectedSessionStorage.SetAsync("parent", "index");
    isAd = isAdmin.Value;
    isLoaded = true;
    loadingService.HideLoadingScreen();

    Console.WriteLine(await locationData.GetLocationNameFromCoordinates(-25.83422685669244, 28.29346930992359));
  }

/// <summary>
/// Navigate to register page
/// </summary>
  void Register()
  {
    loadingService.ShowLoadingScreen();
    NavigationManager.NavigateTo("/register");
  }
}