@page "/login"
@layout AuthLayout
@using BlazorApp.Components.Base

<PageTitle>Login</PageTitle>

<div class="w-full h-[100vh] bg-primary-900">
    <Image ImageName="Banhoek-landscape.jpg" css="w-full h-full object-cover"/>
</div>



