@page "/login"
@layout AuthLayout
@using BlazorApp.Components.Base

<PageTitle>Login</PageTitle>

<div class="w-full h-[100vh] bg-primary-900">
    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-10"></div>
    <Image ImageName="Banhoek-landscape.jpg" css="w-full h-full object-fit -z-10" alt="background image"/>


    <div class="flex w-full h-full absolute top-0 left-0 justify-start">
    <div class="absolute top-14 right-72 h-32 w-3/12 bg-white opacity-40 blur-3xl"></div>
    <a href="/" class="absolute top-14 right-72">
        <Image ImageName="Logo.svg" css="h-20 m-4" alt="Logo"/>
    </a>
        <Card css="my-auto w-full text-left ml-80">
            <Heading >
                <Superscript>
                    <p>Welcome Back</p>
                </Superscript>
                <Header>
                    <h1>Log In</h1>    
                </Header>
            </Heading>
            <Input css="mt-8" type="email" name="email" placeholder="Enter email address"/>
            <Input css="mt-8" type="password" name="password" placeholder="Enter password"/>
            <Button css="mt-8" style="large">
                <content>
                    <p>Log In</p>
                </content>
            </Button>
        </Card>

    </div>
</div>



