@page "/login"
@layout AuthLayout
@using BlazorApp.Components.Base

<PageTitle>Login</PageTitle>

<div class="w-full h-[100vh] bg-primary-900">
    <Image ImageName="Banhoek-landscape.jpg" css="w-full h-full object-cover" alt="background image3"/>
    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-10"></div>
    <Image ImageName="Logo.svg" css="absolute h-20 top-10 left-20 m-4" alt="Logo"/>
</div>



