@page "/login"
@layout AuthLayout
@using BlazorApp.Components.Base

<PageTitle>Login</PageTitle>

<div class="w-full h-[100vh] bg-primary-900">
    <div class="absolute top-0 left-0 w-full h-full bg-black opacity-10"></div>
    <Image ImageName="Banhoek-landscape.jpg" css="w-full h-full object-fit -z-10" alt="background image"/>

    <a href="/" class="bg-red-400 w-20 h-20">This is a link</a>
        <Image ImageName="Logo.svg" css="absolute h-20 top-10 left-20 m-4" alt="Logo"/>

    <div class="flex px-40 w-full h-full absolute top-0 left-0 justify-end">
        <Card css="my-auto w-full text-left">
            <Heading>
                <Superscript>
                    <p>Welcome Back</p>
                </Superscript>
                <Header>
                    <h1>Login</h1>    
                </Header>
            </Heading>
            <Input css="mt-8" type="email" name="email" placeholder="Enter email address"/>
            <Input css="mt-8" type="password" name="password" placeholder="Enter password"/>
        </Card>

    </div>
</div>



