@page "/report/{UserId}/{ReportId}"
@layout AuthLayout
<div>Hello Ruan
    <br>
    @UserId
    <br>
    @ReportId
</div>

@code {
    [Parameter] public string UserId { get; set; }
    [Parameter]
    public string ReportId { get; set; }
} 
