@page "/report/{UserId}/{ReportId}"
@layout AuthLayout
<div>Hello</div>

@code {
    [Parameter] public string UserId { get; set; }
    [Parameter]
    public string
    ReportId
    { get; set; }
} 
