@page "/solarscore"
@* @layout MainLayout *@
@inject ProtectedLocalStorage ProtectedLocalStore;
@inject ProtectedSessionStorage ProtectedSessionStore;
@inject NavigationManager NavigationManager;
@inject BlazorApp.Data.LoadingService loadingService
@using System.Text.Json;
@using BlazorApp.Components.Home;
@using BlazorApp.Components.SolarScore;

<PageTitle>Solar Score</PageTitle>

@* Check for admin *@
@if (isAd)
{
    loadingService.ShowLoadingScreen();
    NavigationManager.NavigateTo("/admin/keys");
}
else
{
    <div class="fade-in-enter-active">
        <div class="w-full">
            @if (latitude != 0 && longitude != 0)
            {
                <div class="mb-20">
                    <Results latitude="latitude" longitude="longitude"/>
                </div>
                <a href="/advanced" @onclick="() => loadingService.ShowLoadingScreen()" class="text-sm font-normal leading-6 text-orange-accent-500">Advanced Calculation<span
                        aria-hidden="true"></span></a>
            }
            else
            {
                <EnterLocation />
                loadingService.HideLoadingScreen(); 
            }
            <div class="mt-40 mb-20">
                <ScoreInfo />
            </div>
            <div class="mt-32 mb-10">
                <NextSteps />
            </div>
        </div>
    </div>
}


@code {
    private bool isAd = false;
    private double latitude = 0;
    private double longitude = 0;
    private string? API_PORT = Environment.GetEnvironmentVariable("API_PORT");

    /// <summary>
    /// On page load, check if user is admin.
    /// Get current location data from session storage.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        var isAdmin = await ProtectedLocalStore.GetAsync<bool>("isAdmin");
        @* var locationData = await ProtectedSessionStore.GetAsync<LocationDataModel>("currentLocationData"); *@
        var lat = await ProtectedSessionStore.GetAsync<double>("latitude");
        latitude = lat.Value;
        var lng = await ProtectedSessionStore.GetAsync<double>("longitude");
        longitude = lng.Value;
        Console.WriteLine("Latitude: " + latitude);
        Console.WriteLine("Longitude: " + longitude);
        await ProtectedSessionStore.SetAsync("parent", "solarScore");
        isAd = isAdmin.Value;
    }
}