@page "/solarscore"
@layout MainLayout
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@inject ProtectedLocalStorage ProtectedLocalStore;
@inject NavigationManager NavigationManager;

<PageTitle>Solar Score</PageTitle>

<div class="@pageTransitionClass">
@if (!isLoaded) {}
else if (isAd) {
    NavigationManager.NavigateTo("/admin/keys");
} else {      
<div class="w-full">
    <div class="mb-20"><BlazorApp.Section.Results/></div>
    <div class="mt-40 mb-20"><BlazorApp.Section.ScoreInfo/></div>
    <div class="mt-32 mb-10"><BlazorApp.Section.NextSteps/></div>
</div>
}
</div>


@code {
    private bool isAd = false;
    private bool isLoaded = false;
    protected override async Task OnInitializedAsync()
    {
        var selected = await ProtectedLocalStore.GetAsync<bool>("SelectedAddress");
        var isAdmin = await ProtectedLocalStore.GetAsync<bool>("isAdmin");
        isAd = isAdmin.Value;
        isLoaded = true;
    }

    private string pageTransitionClass = "slide-out active";

    protected override async void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            // Simulate a delay to show the transition effect
            await Task.Delay(500);
            pageTransitionClass = "slide-in active";
            StateHasChanged();
        }
    }
}