@page "/solarscore"
@layout AppLayout


<PageTitle>Solar Score</PageTitle>

<div class="w-full">
    <div class="mb-20"><BlazorApp.Section.Results/></div>
    <div class="mt-40 mb-20"><BlazorApp.Section.ScoreInfo/></div>
    <div class="mt-32 mb-10"><BlazorApp.Section.NextSteps/></div>
</div>
