@* Mobile Viewport *@
<div class="flex flex-col lg:hidden w-full px-3 mx-auto justify-center items-center">
    <Image ImageName="@homeImage" alt="Home" css="w-10/12 h-full mt-10" />
    
</div>

@code {
    [Parameter]
    public string homeImage { get; set; }
    public EventCallback<string> homeImageChanged { get; set; }

    public void ChangeImage(string image)
    {
        homeImage = image;
        homeImageChanged.InvokeAsync(image);
    }  
}