<div class="flex flex-col">
   <input type="text" placeholder="Search.." @onkeyup="HandleKeyPress" @bind-value="search" @bind-value:event="oninput">
   <div class="block">
        @* List *@
        <ul>
            @if(showList == true)
            {
                @foreach (var item in typeAppliances)
                {
                    <li @onclick="@(() => SelectAppliance(item.model))">@item.model</li>
                }
            }
        </ul>
    </div>
</div>

@code{
    [Parameter]
    public string type { get; set; }
    [Parameter]
    public List<CustomApplianceModel> customAppliances { get; set; }
    

    private List<CustomApplianceModel> typeAppliances = new List<CustomApplianceModel>();
    private string search = string.Empty;
    private bool showList = false;
    @* OnParametersSet *@
    protected override void OnParametersSet()
    {
        customAppliances = customAppliances.Where(x => x.type == type!).ToList();
    }

    private void HandleKeyPress(KeyboardEventArgs e)
    {

        typeAppliances = customAppliances.Where(x => x.model.Contains(search, StringComparison.OrdinalIgnoreCase)).ToList();
        StateHasChanged();
        if(search.Length > 0)
        {
            showList = true;
        }
        else
        {
            showList = false;
        }
    }

    private void SelectAppliance(string model)
    {
        search = model;
        showList = false;
        StateHasChanged();
    }
}