<div class="border-primary-500 transition-all duration-200 border-1 p-10 justify-start flex flex-col rounded-3xl w-full">
    @foreach (var appliance in appliances)
    {
        <div class="flex flex-row justify-between">
            <div class="flex flex-col">
                <div class="text-2xl font-bold">@appliance.type</div>
                <div class="text-lg">@appliance.quantity</div>
            </div>
            <div class="flex flex-col">
                <div class="text-2xl font-bold">@appliance.powerUsage</div>
                <div class="text-lg">Watts</div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public List<ApplianceModel> appliances { get; set; } = new List<ApplianceModel>();
    [Parameter]
    public List<SystemModel> systems { get; set; } = new List<SystemModel>();
    [Parameter]
    public int solarScore { get; set; }
    [Parameter]
    public int selectedSystem { get; set; }
    [Parameter]
    public EventCallback<int> selectedSystemChanged { get; set; }
    [Parameter]
    public List<ReportAllApplianceModel>? reportAllAppliance { get; set; }
    [Parameter]
    public ReportModel? currentReport { get; set; }
    [Parameter]
    public bool edit { get; set; }
    [Parameter]
    public double latitude { get; set; }
    [Parameter]
    public double longitude { get; set; }
    [Parameter]
    public LocationDataModel? currentLocationData { get; set; }
}