@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
}

/* Fade-In Transition */
.fade-in-enter-active {
    animation: fadeIn .6s;
}

/* Fade Transition */
.fade-in-active {
    animation: fadeIn .3s;
}

.fade-active {
    animation: fade .6s;
}


.fade-out-active {
    animation: fade-out .3s;
}

/* Slide-In Transition */
.slide-in-enter-active {
    animation: slideIn .6s;
    animation-delay: 50ms;
}
.slide-in-active {
    animation: slideIn .3s;
}

/* Toast Classes */
.toast-slide-in {
    animation: toastSlideIn .5s;
}

.toast-slide-out {
    animation: toastSlideOut .5s;
}

.toast-progress {
    animation: toastProgress 6s;
    animation-timing-function: ease-in-out;
}

/* Panel and Trees Classes */
.panel-trees-slide-in-left {
    animation: panelSlideLeft .5s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}

/* Robert Classes */
.robert-slide-in-right {
    animation: robertSlideRight .5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.robert-slide-in-tutorial {
    animation: robertSlideRight .3s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
}


.robert-slide-in-left {
    animation: robertSlideLeft .5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.robert-slide-up {
    animation: robertSlideUp .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* Loading Classes */
.loading-runner {
    animation: loadingRunner 1.5s infinite ease-in-out;
}

.slide-up-out {
    animation: slideUpOut .5s;
    animation-fill-mode: forwards;
}

.slide-down-in {
    animation: slideDownIn .5s;
    animation-fill-mode: forwards;
}

/* Wipe transitions */
.wipe-down {
    animation: wipeDown .5s;
    animation-fill-mode: forwards;
}

.wipe-up {
    animation: wipeUp .5s;
    animation-fill-mode: forwards;
}

@keyframes wipeDown {
    from { opacity: 1; height: 0%;}
    to { opacity: 1; height: 100%;}
}
 
@keyframes wipeUp {
    from { opacity: 1; height: 100%;}
    to { opacity: 1; height: 0%; }
}



/* Slide Up Out Transition */
@keyframes slideUpOut {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-100%); }
}

/* Slide Down In Transition */
@keyframes slideDownIn {
    from { opacity: 0; transform: translateY(-100%); }
    to { opacity: 1; transform: translateY(0); }
}

/* Loading Runner */
@keyframes loadingRunner {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(120%); }
}

/* Robert Transitions */
@keyframes robertSlideUp {
    from { opacity: 0; transform: translateY(0); }
    to { opacity: 1 !important; transform: translateY(-75%);}
}

@keyframes robertSlideRight {
    from { transform: translateX(100%); }
    to { opacity: 1; transform: rotate(-45deg); }
}

@keyframes robertSlideLeft {
    from { transform: translateX(-100%) rotate(90deg); }
    to { opacity: 1; transform: rotate(60deg) translateX(14px);}
}

/* Panels and Trees UI Transitions */

@keyframes panelSlideLeft {
    from { opacity: 0; transform: translateX(-150%); }
    to { opacity: 1;  transform: translateX(0);}
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(1%); }
    to { opacity: 1;}
}


/* Toast Transitions */

@keyframes toastSlideIn {
    from { opacity: 0; transform: translateX(-100%); }
    to { opacity: 1; }
}

@keyframes toastSlideOut {
    from { opacity: 1; }
    to { opacity: 0; transform: translateX(-100%); }
}

@keyframes toastProgress {
    from { width: 0%; }
    to { width: 100%; }
}


/* Page Transitionsj */

@keyframes slideIn {
    from { opacity: 0; transform: translateY(-10%); }
    to { opacity: 1; }
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}  

/* Tips on loading screen*/
  
.tips {
    color: rgb(124, 124, 124);
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    font-size: 25px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
}
  
.words {
    overflow: hidden;
}
  
.word {
    display: block;
    height: 100%;
    padding-left: 6px;
    color: #956afa;
    animation: spin_4991 8s infinite;
}
  
@keyframes spin_4991 {
    10% {
        -webkit-transform: translateY(-105%);
        transform: translateY(-105%);
    }
  
    25% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
  
    35% {
        -webkit-transform: translateY(-205%);
        transform: translateY(-205%);
    }
  
    50% {
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
    }
  
    60% {
        -webkit-transform: translateY(-305%);
        transform: translateY(-305%);
    }
  
    75% {
        -webkit-transform: translateY(-300%);
        transform: translateY(-300%);
    }
  
    85% {
        -webkit-transform: translateY(-405%);
        transform: translateY(-405%);
    }
  
    100% {
        -webkit-transform: translateY(-400%);
        transform: translateY(-400%);
    }
}
  