@using BlazorApp.Components.Base

<div class="relative w-24 h-24 flex justify-center items-center rounded-full bg-primary-200">
    <div class="absolute flex justify-center items-center top-0 right-0 w-8 h-8 rounded-full bg-primary-500">
        <p class="text-primary-900 text-center">8</p>
    </div>
    <Image ImageName="Panel.svg" alt="icon" css="h-6"/>
</div>
<p class="">Solar Panels</p>