<button class="@css @GetDynamicClasses() hover:shadow-md hover:-translate-y-1 transition-all duration-300 ease-in-out">
    @content
</button>

@code {
    [Parameter]
    public string? style { get; set; }

    [Parameter]
    public RenderFragment? content { get; set; }

    [Parameter]
    public string? css { get; set; }

    private string GetDynamicClasses()
    {
        switch(style) {
            @*----- Pill button -----*@
            case "pill":
                return "bg-gradient-to-br from-primary-400 to-primary-600 hover:bg-gradient-to-br hover:from-primary-500 hover:to-primary-700 text-white font-bold py-3 px-10 rounded-full ";

            @*----- Outline button -----*@
            case "outline": 
                return "border-1 border-primary-500 text-primary-500 font-bold py-3 px-10 rounded-full";
            
            @*----- Default button -----*@
            default:
                return "bg-gradient-to-br from-primary-400 to-primary-600 hover:bg-gradient-to-br hover:from-primary-500 hover:to-primary-700 text-white font-bold py-3 px-10 rounded-md";
        }
    }
}
