<div class="@css">
    <button class="@GetDynamicClasses() hover:shadow-md hover:-translate-y-1 transition-all duration-300 ease-in-out">
        @content
    </button>
</div>

@code {
    [Parameter]
    public string? style { get; set; }

    [Parameter]
    public RenderFragment? content { get; set; }

    [Parameter]
    public string? css { get; set; }

    

    private string GetDynamicClasses()
    {
        switch(style) {
            @*----- Pill button -----*@
            case "pill":
                return "bg-gradient-to-br from-primary-400 to-primary-600 hover:bg-gradient-to-br hover:from-primary-500 hover:to-primary-700 text-white font-bold py-2 px-6 rounded-full ";
            
            @*----- Pill Danger button -----*@
            case "pill-danger":
                return "bg-gradient-to-br from-red-400 to-red-600 hover:bg-gradient-to-br hover:from-red-500 hover:to-red-700 text-white font-bold py-2 px-6 rounded-full ";

            @*----- Outline button -----*@
            case "outline": 
                return "border-1 border-primary-500 text-primary-500 font-bold py-2 px-6 rounded-full";

            @*----- Outline Danger button -----*@
            case "outline-danger": 
                return "border-1 border-red-500 text-red-500 font-bold py-2 px-6 rounded-md";
            
            @*----- Default button -----*@
            case "primary":
                return "bg-gradient-to-br from-primary-400 to-primary-600 hover:bg-gradient-to-br hover:from-primary-500 hover:to-primary-700 text-white font-bold py-2 px-6 rounded-md";

            @*----- Default Danger button -----*@
            case "danger":
                return "bg-gradient-to-br from-red-400 to-red-600 hover:bg-gradient-to-br hover:from-red-500 hover:to-red-700 text-white font-bold py-2 px-6 rounded-md";

            default:
                return "bg-gradient-to-br from-primary-400 to-primary-600 hover:bg-gradient-to-br hover:from-primary-500 hover:to-primary-700 text-white font-bold py-2 px-6 rounded-md";
        }
    }
}
