<div class="@css @bg p-8 rounded-xl shadow-lg">
    @ChildContent
</div>


@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? css { get; set;}

    [Parameter]
    public string? bg { get; set; } = "bg-white";
}
