<div class="@css">
    <div class="uppercase mb-1 text-sm text-blue-400">
        @Superscript
    </div>
    <div class="text-5xl mb-1 text-primary-950 font-semibold">
        @Header
    </div>
    <div class="text-base mb-1 text-gray-400">
        @Subscript
    </div>
</div>


@code {
    [Parameter]
    public RenderFragment? Superscript { get; set; }

    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public RenderFragment? Subscript { get; set; }

    [Parameter]
    public string? css { get; set; }
}
