@using BlazorApp.Components.Base
@using BlazorApp.Data
@using System.Runtime.InteropServices;

@{
    secondImageCss += " " + scale;
}

<div class="relative @css">
    @{
        string s = getImageName();
    }  
    <Image ImageName="@s" alt="Map" css="w-full h-full object-cover rounded-3xl" />
</div>

@code {
    private string? secondImageCss = "w-full translate-x-2 h-full object-cover  brightness-90  saturate-[1.3]";
    [Parameter]
    public string? css { get; set; }
    [Parameter]
    public string? scale { get; set; } = "";
    [Parameter]
    public string? imageName { get; set; }

    private string getImageName(){
        return imageName!;
    }
}

