@inject IJSRuntime JSRuntime
<div style="transform: translateX(@translateX%);" class='absolute mx-auto fade-active tooltip transition-all duration-300 delay-500 rounded-xl shadow-lg px-3 py-2 bg-primary-900 text-primary-100 @directionClass'>
    <div style="left: @pointer%;" class='absolute bg-primary-900 z-40 @(direction == "top" ? "-bottom-1" : direction == "left" ? "-right-1" : direction == "bottom" ? "-top-1" : direction == "right" ? "-left-1" : "") @(direction == "left" || direction == "right" ? "top-1/2 -translate-y-1/2" : "") transition-all duration-75 rotate-45  w-3 h-3'></div>
    @ChildContent
</div>
@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }  
    [Parameter]
    public string? direction { get; set; } = "top";
    [Parameter]
    public int? pointer { get; set; } = 25;
    [Parameter]
    public int? translateX { get; set; } = 0;
    public string? directionClass { get; set; } = "";

    protected override void OnParametersSet()
    {
        switch (direction)
        {
            case "top":
                directionClass = "-translate-y-full -mt-2";
                break;
            case "bottom":
                directionClass = "translate-y-full -mb-2";
                break;
            case "left":
                directionClass = "-translate-x-full -ml-2";
                break;
            case "right":
                directionClass = "translate-x-full -mr-2";
                break;
            default:
                directionClass = "-translate-y-full -mt-2";
                break;
        }
    }
}