<div class='absolute mx-auto tooltip transition-all duration-300 delay-300 rounded shadow-lg px-3 py-2 bg-gray-200 text-primary-800 @direction'>
<div class="absolute bg-gray-200 -z-10 -bottom-1 rotate-45 left-1/2 -translate-x-1/2 w-3 h-3"></div>
    @ChildContent
</div>
@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }  
    [Parameter]
    public string? direction { get; set; } = "top";

    protected override void OnParametersSet()
    {
        switch (direction)
        {
            case "top":
                direction = "-translate-y-full -mt-2";
                break;
            case "bottom":
                direction = "translate-y-full mt-2";
                break;
            case "left":
                direction = "-translate-x-full -ml-2";
                break;
            case "right":
                direction = "translate-x-full ml-2";
                break;
            default:
                direction = "-translate-y-full -mt-2";
                break;
        }
    }
}